body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #00FF00;
    background-color: black;
}

#body-div {
    padding: 1em;
}

input {
    padding: 0.5em;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    background-color: #00FF00;
    color: black;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: bold;
    padding: 0.5em;
    background-color: #00FF00;
}

#output-div {
    font-size: 48px;
    font-weight: bold;
}
